*{
    margin: 0;
    padding: o;
}

.todo {
    color: pink;
    font-size: 100px;

}
.row {


    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: row;

}
.done{
    background:  green;
    text-decoration: line-through;
    color: grey;
}

.searchbar {
    margin: auto;
    width:50%;
    font-size: 24px;

    border: 1px solid black;
}

#todoList {
    padding: 20px;
}

#input{
    background-color: white;
    height: 100px;
    
    width: 100%;
    line-height: 100px;
    color: black;

}

body{
    text-align: center;
    font-family: "Roboto Condensed";
    background-color: white;

}

.h1{
    color: pink;
    height: 100px;
    width: 40%;
}

.hidde {
    visibility: hidden;
}

.show{
    visibility: visible;
}